:root{
    --primary-color: #FBFFF1;
    --secondary-color: #3C3744;
}
*{
    box-sizing: border-box;

}
body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
header{
    color: white;
    padding: 1rem;
    text-align: center;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main div.text{
    text-align: center;
    margin: 1rem 4rem;
}
form{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: ce;
}
#DailyCaloricDeficitHolder{
    text-align: center;
    margin: 0 1rem;
}
fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    max-width: 100%;
    border: solid #3c37441e;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px #3c37441e;
    padding: 2rem 2rem 0 2rem;
}
fieldset input, button{
    margin-top: 1rem;
    text-align: center;
    height: 44px;
}
input{
    background-color: ivory;
    border: solid 1px #3c37441f;
    border-radius: 2rem;
}
button{
    padding: 0 1rem;
    border-radius: 2rem;
    color: ivory;
    background-color: #3C3744;
}
@media(min-width: 35rem){

}
